[Unit]
Description=Files Mover
After=network.target

[Service]
User=root
ExecStart=/vagrant/files-mover.sh
RestartSec=5s
Restart=on-failure
User=vagrant

[Install]
WantedBy=multi-user.target
